<div class="page-main">
    <div class="color-filter"></div>
    <div class="background-image"></div>
    <div class="foreground-container">
        <div class="document-fullpage-container">
            <div class="document-items">
                <div class="title-container">
                    <h1 class="title">Your one-stop gardening needs.</h1>
                </div>
                <div class="form-container">
                    <div class="inputs-container">
                        <form action="POST">
                            <label for="email">email address</label>
                            <input class="text-input" type="text" name="" id="email">
    
                            <label for="username">username</label>
                            <input class="text-input" type="text" name="" id="username">
    
                            <label for="password">password</label>
                            <input class="text-input" type="password" name="" id="password">
    
                            <input class="form-button" type="submit" value="Register">
                        </form>
                    </div>
                    <p class="login-link-container">Already have an account? <span><a href="login" class="login">Log In.</a></span></p>
                </div>
            </div>
        </div>
    </div>
</div>