<div class="main-container">
    <div class="background-image"></div>
    <div class="foreground-container">
        <div class="document-container">
            <div class="document-items-container">
                <div class="title-container">
                    <h1>Welcome back.</h1>
                </div>
                <div class="form-container">
                    <form action="" method="post">
                        <label for="username">username</label>
                        <br>
                        <input type="text" name="username" required autofocus/>
                        <br>
                        <label for="password">password</label>
                        <br>
                        <input type="password" name="password" required/>
                        <a href="#"><p class="forgot">forgot password?</p></a>
                        <button type="button" name="submit" role="button" class="form-button">Login</button>
                        <br>
                        <button type="button" role="button" class="form-button">Register</button>
                    </form> 
                </div>
            </div>
            <span class="attribution">
                Photo by <a href="https://unsplash.com/@havasuartist?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Susan Weber</a> on <a href="https://unsplash.com/photos/MrtjMjQZQRw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </span>
        </div> 
    </div>
</div>

